# Node.js dependencies
node_modules/

# Environment variables
.env

# Build directories
dist/
build/

# Test directories
test/

# Logs and cache
logs/
*.log
.cache/

# IDE & Editor settings
.vscode/
.idea/
*.swp

# System files
.DS_Store
Thumbs.db